
# Environnements virtuels
venv/
.env
.venv/
env/
ENV/

# Fichiers compilés Python
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class

# Fichiers de configuration locaux
*.sqlite3
*.db
local_settings.py

# Logs
*.log

# Fichiers temporaires
*.tmp
*.bak

# IDE et éditeurs
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
wheels/
*.egg
MANIFEST

# PyInstaller
*.spec

# Tests et couverture
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Documentation
docs/_build/
site/

# Type checking
.mypy_cache/
.pyre/
.pytype/

# C extensions
*.so

# Docker ignore
dockerignore

# Autres caches
.ruff_cache/
.cursorignore
.cursorindexingignore
``

